/*General*/
@font-face {
    font-family: 'Caviar-Dreams';
    src:url('Caviar-Dreams.ttf.woff') format('woff'),
        url('Caviar-Dreams.ttf.svg#Caviar-Dreams') format('svg'),
        url('Caviar-Dreams.ttf.eot'),
        url('Caviar-Dreams.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.blockPage{
    position: relative;
    min-height: 100%
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0
}

* {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content{
    font-family: 'arial';
    padding-bottom: 4em;
}

.topPageText h1{
    font-family: 'Caviar-Dreams';
}

.table thead th {
    vertical-align: middle;
    background-color: #e3f2fd;
}


/*Page d'accueil'*/
.titleEventSection h2{
    font-size: 1.5rem;
}

.pages{
    display: flex;
    justify-content: center;
}

/*Page détail d'un évènement*/
.blocImage{
    margin: auto;
}

.imgEvent{
    max-width: 350px;
}

.name{
    font-size: 2.2rem;
}


/*Page de gestion des évènements*/
.thumbnail {
    width: 200px;
}

/*MEDIA QUERIES*/
 /*Extra small devices (portrait phones, less than 576px)*/
@media all and (max-width: 576px) { 
    .topPageText h1{
        font-size: 2rem
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media all and (max-width: 768px) { 
    thead{
        display: none;
    }
    
    td{
        display: block;
        text-align: center;
    }
    
    th{
        display: none
    }
    
    tr{
        border-bottom: solid 1px;
    }
}

 /*Medium devices (tablets, less than 992px)*/
@media all and (max-width: 992px) {  }
