{# App/views/pages/home.html.twig #}

{% extends "layout.html.twig" %}

{% block content %}

    <h1>Bienvenue</h1>
    <p>Principium autem unde latius se funditabat, emersit ex negotio tali. Chilo ex vicario et coniux eius 
        Maxima nomine, questi apud Olybrium ea tempestate urbi praefectum, vitamque suam venenis petitam 
        adseverantes inpetrarunt ut hi, quos suspectati sunt, ilico rapti conpingerentur in vincula, organarius 
        Sericus et Asbolius palaestrita et aruspex Campensis.</p>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nom de l'évènement</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Tarif</th>
                    <th scope="col">Plus de détails</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events  %}
                     {{ include('pages/eventsTemplate.html.twig', { 'event' : event })}}
                {% endfor %}
             </tbody>
     </table>
   


{% endblock content %}
